# Dependencias
node_modules/

# Logs
*.log
npm-debug.log*

# Temporal de mensajes de commit
COMMIT_MSG.tmp

# Sistema / editor
.DS_Store
.vscode/
.idea/

# Variables de entorno
.env
.env.local
.env.*.local
